<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {rutaCss: "./css/contact-cards.css"}); %>
</head>

<body>

    <%- include('../partials/header'); %>


    <main>
        <!-- <%- include('../partials/bodyContact'); %> -->
        <%- include('../partials/contact-cards'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="./scripts/format-phone/cleave.min.js"></script>
    <script src="./scripts/format-phone/cleave-phone.i18n.js"></script>
    <script src="./scripts/format-phone/script.js"></script>

</body>

</html>